@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#card-fundo {
    position: relative !important;
    height: 900px;
    background-color: #001233;
    
}

#codigo {
    filter: blur(1.5px);
    color: aliceblue;
}

.back-card{

}

.russo-font {
    font-family: 'Russo One', sans-serif;
}

.title-name {
    -webkit-border-bottom-right-radius: 150px;
    -moz-border-radius-bottomright: 150px;
    border-bottom-right-radius: 90px;
}


.card {
    position: absolute !important;
    right: 0;
    left: 0;
    top: 0;
    max-width: 345px;
    border-radius: 15px;
    margin: 30px auto !important;
    font-weight: 900;
    /* background: rgba(76, 175, 80, 0.6) !important; */
    /* rgb(4,102,200) */
    /* background: rgba(4, 102, 200, 0.7) !important; */
    /* rgb(51,83,132) */
    background: rgba(51, 83, 132, 0.7) !important;
    border: 10px solid #ff9f1c;
    
}

.me{
    max-width: 300px;
    margin: 40px auto 0 auto !important;
    border: 5px solid red;
    float: none !important;
    align-items: center !important;
    display: flex !important;
    height: 180px;
}

.flex-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
}

.about{
    margin-bottom: 0 !important;
    height: 128px;
}

.logos{
    height: 30px !important;
    width: 30px !important;
 
    /* margin-bottom: 5px; */
}
